.App {
  width: 100%;
  height: 100%;

  &__header {}
  &__content {
    width: 100%;
    padding-top: $header-height;
    height: calc(100% - #{$header-height} + 1px);

    &__view {
      //animation: fade-in $transition-duration ease-in-out, slide-up $transition-duration-fast ease-in-out;
      width: 100%;
      height: 100%;
      animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      //animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      //animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
      //animation: scale-in-ver-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      // animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      //animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      //animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      //animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }

  &__offline {
    @include center;
    font-size: 3rem;
  }
}
