$input-width: 20rem;

.Auth {
  width: 100%;
  height: 100%;
  @include center;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    &__label {
      margin-bottom: 0.5rem;
    }

    &__input {
      width: $input-width;
      color: black;
      text-align: center;
      border: 0px solid;
      border-bottom: 0.1rem solid black;
      padding-bottom: 0.5rem;
      font-size: 2.5rem;

      @include media("<tablet") {
        font-size: 2.5rem;
      }

      &:focus {
        outline: 0px auto -webkit-focus-ring-color;
      }
    }

    &__actions {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: $input-width;
    }

    &__btn {

      @extend .btn--default;

      &--enter {
        @extend .btn--primary;
      }

      &--back {
        @extend .btn--default;
      }
    }
  }
}
