.Header {
  width: 100vw;
  height: $header-height;
  background-color: $color-header-bg;
  color: $color-header-text;
  display: flex;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  position: fixed;

  a {
    text-decoration: none;

    &:visited, &:hover, &:active, &:-webkit-any-link {
      color: $color-header-text;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    //justify-content: space-around;
    width: 10rem;

    &__logo {
      margin: 0rem 0.75rem;
    }

    &__name {
      line-height: 1.5rem;
      text-transform: uppercase;
      // white-space: nowrap;
      display: inline-block;
    }
  }

  &__links {
    width: 100%;
    display: flex;

    &__item{
      padding: 1rem;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: darken($color-header-bg, 5);
      }

      &--active, &--active:hover  {
        background-color: darken($color-header-bg, 10);
      }
    }


  }

}
