.Home {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;


  &__jumbotron {
    //width: 100%;
    margin-top: 0rem;
    @include center;

    &__copy {
      font-size: 3rem;

      @include media("<tablet") {
        font-size: 2.5rem;
      }

      @include media("<phone") {
        font-size: 2rem;
      }
    }
  }

  &__sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    @include media("<tablet") {
      flex-direction: column;
    }

    &__item {
      @include center;

      @include media("<tablet") {
        width: 100%;
      }

      &__btn {
        @extend .btn;
        margin: 0.5rem 2rem;

        @include media("<tablet") {
          width: 50%;
        }

        @include media("<phone") {
          width: 75%;
        }
      }
    }

    &__item--create {
      .Home__sections__item__btn {
        @extend .btn--primary;
      }
    }

    &__item--join {
      .Home__sections__item__btn {
        @extend .btn--default;
      }
    }
  }


  /*@media all and (orientation:landscape) {
    flex-direction: row;

  }
  @media all and (orientation:portrait) {

  }*/



}
