.Logo {
  @include center;
  height: 3rem;
  width: 2.5rem;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 10%;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;


  &__suit {
    order: 2;
    align-self: center;
    font-size: 2rem;
    line-height: 0.5rem;
    margin-top: -0.5rem;
  }

  &__value {
    font-size: 0.75rem;
    padding: 0rem 0.15rem;

    &--top {
      order: 1;
      align-self: flex-start;
    }

    &--bottom {
      order: 3;
      align-self: flex-end;
      transform: rotate(180deg);
    }
  }
}
