@import 'main';


.Jumbotron {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__AppliedAgile {
    margin-top: 4rem;
    width: 15rem;
  }

  &__Headline {
    font-family: Mallory-Light;
    font-size: 5rem;

    @include media("<phone") {
      font-size: 4rem;
    }
  }

  &__Subtitle {
    margin-top: 0.8rem;
    font-family: Mallory-Light;
    letter-spacing: 0.11rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  &__Logo {
    width: 11rem;
  }

  &__CTA {
    margin-top: 1rem;
  }
}
