/* Coolors Exported Palette - coolors.co/00707e-00bccc-231f20-231f20-ffffff */

/* HSL */
$color1: hsla(187%, 100%, 25%, 1);
$color2: hsla(185%, 100%, 40%, 1);
$color3: hsla(345%, 6%, 13%, 1);
$color4: hsla(345%, 6%, 13%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(0, 112, 126, 1);
$color2: rgba(0, 188, 204, 1);
$color3: rgba(35, 31, 32, 1);
$color4: rgba(35, 31, 32, 1);
$color5: rgba(255, 255, 255, 1);

$color-white: white;
$color-default: #95a5a6;
$color-primary: $color1; // #2c3e50;
$color-success: #18bc9c;
$color-info: #3498db;
$color-warning: #f39c12;
$color-danger: #e74c3c;
$color-yeti: $color1;
$color-poker-mat: #1aa353;

$color-bg: $color-white;
$color-text: $color-primary;

$color-header-bg: $color-text;
$color-header-text: $color-bg;
