
$font-weights: (
  thin: 100,
  light: 300,
  normal: 400,
);

@mixin font-weight($key: normal) {
  font-weight: map-get($font-weights, $key);
}

@font-face {
  font-family: Mallory-Book;
  weight: normal;
  src: url(/styles/fonts/Mallory-Book.otf);
}

@font-face {
  font-family: Mallory-Bold;
  weight: normal;
  src: url(/styles/fonts/Mallory-Bold.otf);
}

@font-face {
  font-family: Mallory-Black;
  weight: normal;
  src: url(/styles/fonts/Mallory-Black.otf);
}

@font-face {
  font-family: Mallory-Light;
  weight: normal;
  src: url(/styles/fonts/Mallory-Light.otf);
}
