@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:100,300,400');

$font-weights: (
  thin: 100,
  light: 300,
  normal: 400,
);

@mixin font-weight($key: normal) {
  font-weight: map-get($font-weights, $key);
}

@mixin roboto($weight: normal) {
  font-family: 'Roboto', sans-serif;
  @include font-weight($weight);
}

@mixin roboto-condensed($weight: normal) {
  font-family: 'Roboto Condensed', sans-serif;
  @include font-weight($weight);
}
