@import 'main';

@mixin btn($color: $color-white) {
  @include clickable;
  @include center;
  font-family: Mallory-Book;
  text-decoration: none;
  background: transparent;
  color: $color;
  border: $border-width solid $color;
  border-radius: 0.3rem;
  padding: 0.65rem 1.5rem;
  transition: all 0.1s;
  white-space: nowrap;
  display: inline-block;
  font-size: 1.15rem;
  transition: $transition-duration $ease-out-back;
  outline: none;

  &:hover {
    transform: scale(1.05);
  }

  &:active, &:focus {
    transform: scale(1.025);
  }

  &:disabled {
    color: $color-primary;
    border-color: $color-primary;
  }

  [class^="icon-"] {
    margin-right: -0.6rem;
    margin-left: 0.3rem;
    font-size: 1.5rem;
  }

  .icon-on-left {
    margin-right: 0.3rem;
    margin-left: -0.6rem;
  }
}


.Button{
  @include btn($color-white);

  &--default {}

  &--primary {
    @include btn($color-white);
  }
}
