@import 'main';

$input-width: 23rem;

.Form {
  width: 100%;
  height: 100%;
  @include center;

  &__Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
  }

  &__Label {
    @include roboto(light);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__Input {
    @include roboto(thin);
    width: $input-width;
    color: black;
    border: 0px solid;
    border-bottom: 0.1rem solid gray;
    padding-bottom: 0.5rem;
    font-size: 1.9rem;
    transition: border-bottom 0.2s ease-in-out,
    font-size 0.2s ease-in-out;
    background-color: transparent;

    @include media("<tablet") {
      // font-size: 2.5rem;
    }

    &:focus {
      outline: 0px auto -webkit-focus-ring-color;
      border-bottom: 0.1rem solid black;
    }

    &::placeholder {
      color: #ccc;
    }
  }

  &__InputGroup {
    position: relative;
  }

  &__SubmitButton {
    transform: scale(0);
    opacity: 0;
    position: absolute;
    bottom: 0.6rem;
    right: 0;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    transition: $transition-duration-fast / 2 ease-in-out;
  }

  &--isValid {
    .Form__SubmitButton {
      transform: scale(1);
      opacity: 1;
    }
  }
}
