@import 'main';

$input-width: 23rem;

.Form {
  width: 100%;
  height: 100%;
  @include center;

  &__Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
  }

  &__Label {
    font-family: Mallory-Book;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__Input {
    font-family: Mallory-Book;
    width: $input-width;
    color: $color-white;
    border: 0px solid;
    border-bottom: 0.1rem solid $color-primary;
    padding-bottom: 0.5rem;
    font-size: 1.9rem;
    transition: border-bottom $transition-duration-fast ease-in-out,
    font-size $transition-duration-fast ease-in-out;
    background-color: transparent;

    &:focus {
      outline: 0px auto -webkit-focus-ring-color;
      border-bottom: 0.1rem solid white;
    }

    &::placeholder {
      color: $color-primary;
    }
  }

  &__InputGroup {
    position: relative;
  }

  &__SubmitButton {
    transform: scale(0);
    opacity: 0;
    position: absolute;
    bottom: 0.6rem;
    right: 0;
    padding: 0.25rem 0.5rem 0.09rem;
    text-transform: uppercase;
    transition: $transition-duration $ease-out-back;
  }

  &--isValid {
    .Form__SubmitButton {
      transform: scale(1);
      opacity: 1;

      &:hover {
        transform: scale(1.05);
      }

      &:active, &:focus {
        transform: scale(1.025);
      }
    }
  }
}
