@import 'main';

.MessageView {
  $message-view-color: $color-white;
  @include center;
  color: $message-view-color;

  &__Icon {
    margin-bottom: 1rem;
  }

  &__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Title {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  &__Subtitle {
    font-size: 1rem;
  }

  &__Link {
    text-decoration: none;
    color: $color-primary;
    transition: $transition-duration-fast $ease-out-quad;

    &:link, &:visited {
      color: $color-primary;
    }

    &:hover, &:active {
      color: $color-white;
    }
  }
}
