/* Coolors Exported Palette - coolors.co/ebe9e9-f3f8f2-3581b8-fcb07e-dee2d6 */

/* HSL */
$color1: hsla(0%, 5%, 92%, 1);
$color2: hsla(110%, 30%, 96%, 1);
$color3: hsla(205%, 55%, 46%, 1);
$color4: hsla(24%, 95%, 74%, 1);
$color5: hsla(80%, 17%, 86%, 1);

/* RGB */
$color1: rgba(235, 233, 233, 1);
$color2: rgba(243, 248, 242, 1);
$color3: rgba(53, 129, 184, 1);
$color4: rgba(252, 176, 126, 1);
$color5: rgba(222, 226, 214, 1);
