.Tiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    font-size: 2rem;
    margin: 1rem;
    background: $tile-bg-color;
    color: $tile-text-color;
    border: 0.2rem solid $tile-border-color;
    border-radius: 0.5rem;
    width: $tile-width;
    height: $tile-height;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $tile-transition-duration ease-in;

    &--active {
      background: $tile-active-bg-color;
      color: $tile-active-text-color;
      border: 0.2rem solid $tile-active-border-color;
    }

    &--active, &:hover {
      box-shadow: 0 0 0.5em $tile-active-shadow-color;
    }

    &__value {
      padding-top: 0.5rem;
      user-select: none;
    }
  }
}
