$tile-width: 5rem;
$tile-height: $tile-width;

$tile-transition-duration: 0.1s;
$tile-bg-color: $color-bg;
$tile-text-color: $color-text;
$tile-border-color: $color-text;

$tile-active-bg-color: $color-text;
$tile-active-shadow-color: $color-text;
$tile-active-border-color: $color-text;
$tile-active-text-color: $color-bg;
