@import 'main';

.Brand {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;

  &__Text {
    @include transition;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.7rem;
    margin-left: 1.25rem;
  }

  &__Logo {
    @include transition;
    margin-left: 2rem;
    width: 3.7rem;
  }

  &__Name {
    @include transition;
    font-family: Mallory-Light;
    font-size: 2rem;
    white-space: nowrap;
  }

  &__AppliedAgile {
    @include transition;
    width: 19rem;
  }

  @include media("<tablet") {
    &__Text {
      margin-top: 0rem;
      margin-left: 0.5rem;
    }

    &__Logo {
      margin-left: 2rem;
      width: 2rem;
    }

    &__Name {
      font-size: 1rem;
    }

    &__AppliedAgile {
      width: 10rem;
    }
  }
}
