.Votes {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    font-size: 2rem;
    margin: 2rem;
    background: $voter-bg-color;
    color: $voter-text-color;
    border: 0.2rem solid $voter-border-color;
    border-radius: 0.5rem;
    width: $voter-width;
    height: $voter-height;
    @include center;
    transition: all $voter-transition-duration ease-in;


    &--ready {
      /*background: $voter-active-bg-color;
      color: $voter-active-text-color;
      border: 0.2rem solid $voter-active-border-color;
      box-shadow: 0 0 0.5em $voter-active-shadow-color;*/
    }

    &--not-ready {

    }

    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    transform-origin: right center;

    &--reveal {
      transform: translateX( -100% ) rotateY( -180deg );
    }

    &__front, &__back {
      user-select: none;
      text-align: center;
      backface-visibility: hidden;
    }

    &__front {
      transform: rotateY(0deg);
      height: 100%;
      width: 100%;
    }

    &__back {
      height: 100%;
      width: 100%;
      transform: rotateY(180deg);
      background: $voter-active-bg-color;
      color: $voter-active-text-color;
    }
  }
}
