@import 'main';

.Layout {
  width: 100%;
  height: 100%;

  &__header {}
  &__content {
    width: 100%;
    padding-top: $header-height;
    //min-height: calc(100% - #{$header-height} - 1px);
  }

  &__offline {
    @include center;
    font-size: 3rem;
  }
}
