@import 'main';

.AdminPanel {
  width: 100%;

  &__Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__Button {
    &--reveal {
      width: 10rem;
    }
  }
}
