@import 'main';

$input-width: 20rem;

.BackButton {
  @include clickable;
  font-family: Mallory-Book;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: $color-primary;
  transition: color $transition-duration-fast $ease-out-quad;
  display: flex;

  &:hover {
    color: $color-white;
  }

  &__Icon {
    margin-right: 0.25rem;
  }

  &__Label {}
}
