@import 'main';

.PlayingCard {
  $border-radius: 0.2rem;
  $size: 4rem; // The width, basically
  border-radius: $border-radius;

  &__Container {
    width: var(--size, #{$size});
    height: calc(var(--size, #{$size}) * 3.5 / 2.5); // Playing card dimensions are 3.5in x 2.5in
    transition: transform $transition-duration-slow $ease-out-quad;
    position: relative;
    border-radius: $border-radius;
    transform-style: preserve-3d;
    perspective: 1000px;
  }

  &__Side {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: block;
    border-radius: $border-radius;

    &--front {
      diplay: flex;
      background-color: #e8ded2;
    }

    &--back {
      background-color: $color-primary;
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .Logo {
        padding-top: 5%;
        width: 40%;
      }
    }
  }

  &__Image {
    width: 100%;
    border-radius: $border-radius;
  }

  &__Value {
    font-size: calc(var(--size, $size) / 3.2);
    color: $color3;
  }

  &__Row {
    height: 50%;

    &--top {}

    &--bottom {
      transform: rotate(180deg);
    }
  }

  &--shown {
    .PlayingCard__Container {
      transform: rotateY(0deg);
    }
  }

  &--hidden {
    .PlayingCard__Container {
      transform: rotateY(180deg);
    }
  }
}
