@import 'main';

.Participant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;

  &__name {
    @include center;
  }
}
