@import 'main';

.Room {
  $margin-top: 2rem;
  margin-top: $margin-top;
  display: flex;
  justify-content: center;
  width: 100%;
  //height: 100%;
  height: calc(100% - #{$margin-top});

  &__BackButton {
    align-self: flex-start;
  }

  &__Content {
    max-width: 100rem;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media("<tablet") {
      width: 100%;
    }
  }

  &__Hand {
    padding: 2rem;
  }

  &__AdminPanel {
  }

  &__Table {
    align-self: center;
    width: 100%;
    max-width: 55rem;
    height: 50vh;
    max-height: 30rem;
    padding: 2rem 0rem;

    @include media("<tablet") {
      width: 50%;
    }
  }

  &__MessageView {
    height: 90%;
  }
}
