@import 'main';

.Room {
  $admin-panel-offset: 20rem;
  $margin-top: 2rem;
  margin-top: $margin-top;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__BackButton {
    align-self: flex-start;

    @include media("<tablet") {
      margin-left: 1rem;
    }
  }

  &__Content {
    max-width: 100rem;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media("<tablet") {
      width: 100%;
    }
  }

  &__Hand {
    @include center;
    height: 25vh;
    width: 100%;
    transition: $transition-duration-fast ease-in-out;

    @include media("<tablet") {
      transform: scale(0.7);
    }
  }

  &__HandContainer {
    animation: 0.7s slide-in-blurred-bottom  0s $ease-out-quad both;
  }

  &__AdminPanelWrapper {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%) translateY($admin-panel-offset);
    transition: $transition-duration-fast ease-in-out;
  }

  &__Table {
    align-self: center;
    width: 100%;
    max-width: 55rem;
    height: 50vh;
    max-height: 30rem;
    padding: 2rem 0rem;
    animation: 0.4s scale-in-center 0.3s $ease-out-quad both;

    @include media("<tablet") {
      width: 50%;
    }
  }

  &__MessageView {
    height: 90%;
  }

  &--isRevealed {
    .Room__Hand {
      transform: translateY($admin-panel-offset);
    }

    .Room__AdminPanelWrapper {
      transform: translateX(-50%) translateY(0rem);
    }
  }
}
