@import 'main';

.Table {
  @include center;
  width: 100%;
  height: 100%;
  position: relative;


  &__Shape {
    background-image: url(/images/wood_texture.svg);
    z-index: -1;
    width: 85%;
    height: 80%;
    border-radius: 3vw;
    background-color: $color-bg;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.4);

    @include media("<tablet") {
      width: 70%;
    }
  }
}

.Seat {
  --translate-distance: 75px;
  @include center;
  @include z-index('seat');
  position: absolute;
  transition: 0.2s all $ease-out-quad;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  @include media("<tablet") {
    --translate-distance: 50px;
  }

  &__Content {
    position: relative;
    animation: $transition-duration scale-in-center $ease-out-quad both;

    @include media("<tablet") {
      // padding: 0.5rem;
    }
  }

  &__Name {
    font-family: Mallory-Bold;
    color: white;
    font-size: 1.5rem;
    text-align: center;

    @include media("<tablet") {
      font-size: 1rem;
    }
  }


  &__Reaction {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__ReactionImage {
    width: 100%;
  }

  &__Card {
    --size: 4rem;
    @include media("<tablet") {
      --size: 2rem;
    }

    .PlayingCard__Container {
      box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.28);
    }
  }

  &__CardsContainer {
    @include z-index('seat-card');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__CardsWrapper {
    transition: $transition-duration-fast $ease-out-quad;
  }

  &--self {
    .Seat__Name {
      font-size: 2rem;
    }
  }
}
