@import 'main';

.Table {
  @include center;
  width: 100%;
  height: 100%;
  position: relative;


  &__Shape {
    border: 1px solid lightgray;
    width: 80%;
    height: 80%;
    border-radius: 50rem;
  }
}

.Seat {
  @include center;
  @include roboto();
  background-color: $color-white;
  border: 1px solid lightgray;
  padding: 1rem;
  position: absolute;
  border-radius: 0.25rem;
  transition: 0.2s all ease-in-out;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  &__Content {
    position: relative;
  }

  &__Cards {
    --size: 4rem;

    @include media("<tablet") {
      --size: 2rem;
    }
  }

  &__CardsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__CardsWrapper {
    transition: $transition-duration-fast ease-in-out;
  }
}
