@import 'main';

.Table {
  @include center;
  width: 100%;
  height: 100%;
  position: relative;


  &__Shape {
    border: 1px solid lightgray;
    width: 80%;
    height: 80%;
    border-radius: 50rem;
  }
}

.Seat {
  --translate-distance: 75px;
  @include center;
  @include z-index('seat');
  position: absolute;
  transition: 0.2s all $ease-out-quad;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  @include media("<tablet") {
    --translate-distance: 50px;
  }

  &__Content {
    position: relative;
    animation: $transition-duration scale-in-center $ease-out-quad both;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: $color-white;
    border: 1px solid lightgray;

    @include media("<tablet") {
      padding: 0.5rem;
    }
  }

  &__Name {
    @include roboto();

    @include media("<tablet") {
      font-size: 0.75rem;
    }
  }

  &__Cards {
    --size: 4rem;
    @include media("<tablet") {
      --size: 2rem;
    }
  }

  &__CardsContainer {
    @include z-index('seat-card');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__CardsWrapper {
    transition: $transition-duration-fast $ease-out-quad;;
  }
}
