@import 'main';

.Join {
  //padding-top: calc(4rem + 30vh);
  //padding-bottom: 10vh;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
