@import 'main';

.JoinLink {
  $animation-duration: 0.3s;
  $animation-timing: $easeOutQuad;

  $color-bg: $color-primary;
  $color-accent: $color-white;

  @include roboto(thin);
  font-size: 0.8rem;
  position: relative;
  align-self: center;
  border-radius: 0.25rem;
  border: 0.5px solid $color-accent;
  overflow: hidden;
  margin-right: 1rem;
  background-color: $color-bg;
  color: $color-accent;
  transition: 0.1s $animation-timing;
  user-select: none;
  animation: 0.1s fade-in-fwd $animation-timing;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;

  &:hover {
    box-shadow: 0 0 0.25em $color-accent;
  }

  &:active, &:focus {
    // background-color: darken($color-bg, 5);
  }

  &__Container {
    font-size: 0.8rem;
    height: $header-height * 0.6;

    padding: 0rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    justify-content: space-between;
    transition: $animation-duration $animation-timing;
  }

  &__Message {
    @include roboto(thin);
    @include center;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: $animation-duration $animation-timing;
    white-space: pre-wrap;
    //transform: translateY(-1 * $animation-offset);
    //opacity: 0;
  }

  &__Code {
    width: 80%;
    transition: $animation-duration $animation-timing;
  }

  &__Icon {
    @include center;
    padding-right: 1rem;
    transition: $animation-duration $animation-timing;
  }

  &--showMessage {}

  &--hideMessage {}

  &--animation1 {
    $animation1-offset: 100%;
    &.JoinLink--showMessage {
      .JoinLink__Container {
        transform: translateY($animation1-offset);
      }

      .JoinLink__Message {
        transform: translateY(0px);
      }
    }

    &.JoinLink--hideMessage {
      .JoinLink__Container {
        transform: translateY(0px);
      }

      .JoinLink__Message {
        transform: translateY(-1 * $animation1-offset);
      }
    }
  }

  &--animation2 {
    $animation2-offset: 250%;
    &.JoinLink--showMessage {
      .JoinLink__Code {
        transform: translateX($animation2-offset);
      }

      .JoinLink__Icon {
        transform: translateX(-1 * $animation2-offset);
      }

      .JoinLink__Message {
        //opacity: 1;
        //transform: scale(1);

        transform: translateY(0px);
      }
    }

    &.JoinLink--hideMessage {
      .JoinLink__Code {
        transform: translateX(0);
      }

      .JoinLink__Icon {
        transform: translateX(0);
      }

      .JoinLink__Message {
        //opacity: 0;
        //transform: scale(0);
        transform: translateY(-1 * $animation2-offset);
      }
    }
  }
}
